body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: aquamarine;
    color: black;
}
p{
    border: 1px;
    border-color: blue;
}
div{
    border: 1px;
    border-color: blue;
}
table{
    margin: auto;
    border: 1px;
    border-color: blue;
    padding: 8px;
}
footer{
    background-color: white;
    font-weight: bolder;
    color: red;
}
img{
    width: 100px;
    height: 100px;
}
aside{
width: 25%;
background-color: antiquewhite;}
aside li {
    display: block;
    color: black;
    padding: 20px;
}
main{display: flex;}